html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    // Use nearest neighbor for pixels in the canvas
    image-rendering: pixelated; // Chromium
    image-rendering: crisp-edges; // Firefox
    // The width/height of the canvas from p5 is dynamically created, meaning that it gets applied at element level
    // This can only be overwritten by using the !important override
    width: 100vw !important;
    height: 100vh !important;
}

p.ie-error {
    color: red;
    margin: 20px;
}
